db_path = "data.db"
log_level = "debug"
assets = ["dATOM", 'dTIA']
default_interval = 43200 #seconds

sources = ["levana", "mars", "kujira", "neutron"]

[[watched_addresses]]
label = "some 1"
address = "neutron10022mzmrheg2fl3s88fc2eg9vstt8s4sjslrks"
[[watched_addresses]]
label = "some 2"
address = "neutron1002fmu6uekkfrdldux7uz3u20nclrv7d7kq9wv"

l1_percent = 25
l2_percent = 12

blacklist = [
    "neutron173fd8wpfzyqnfnpwq2zhtgdstujrjz2wkprkjfr6gqg4gknctjyq6m3tch" # Astroport Generator
]

[referral]
graphql_url = "http://127.0.0.1:3001"

[protocols.neutron]
source = "neutron"
rpc = "https://rpc-kralum.neutron-1.neutron.org:443/"
jitter = 10000
pagination_limit = 10000
[protocols.neutron.assets.dATOM]
multiplier = 1
denom = "ibc/C4CFF46FD6DE35CA4CF4CE031E643C8FDC9BA4B99AE598E9B0ED98FE3A2319F9"

[protocols.neutron.frontend_data]
link = "https://www.neutron.org"
link_text = "Go to Neutron"
chain_name = "neutron"
[protocols.neutron.assets.dATOM.frontend_data]
multiplier = 1
visible = true
strategy = "dATOM"
description = "Holding dATOM on Neutron"
type = "single-sided"
featured = false
status = true

[protocols.osmosis-levana]
rpc = "https://osmosis-rpc.polkachu.com:443/"
source = "levana"
jitter = 10000
concurrency_limit = 3
pagination_limit = 300
[protocols.osmosis-levana.assets.dATOM]
multiplier = 2
lp_token = "osmo1kp5nhg2eqcv8zwc0ndgjj7w8pk8dzhu58jfk4q0ptfywj2m42qvqhh9dcv"

[protocols.osmosis-levana.frontend_data]
link = "https://www.levana.finance"
link_text = "Go to Levana"
chain_name = "neutron"
[protocols.osmosis-levana.assets.dATOM.frontend_data]
multiplier = 2
visible = true
strategy = "dATOM"
description = "Holding dATOM on Levana"
type = "single-sided"
featured = false
status = true

[protocols.osmosis-mars]
rpc = "https://osmosis-rpc.polkachu.com:443/"
source = "mars"
jitter = 10000
concurrency_limit = 10
pagination_limit = 100
nft_contract = "osmo1450hrg6dv2l58c0rvdwx8ec2a0r6dd50hn4frk370tpvqjhy8khqw7sw09"
credit_contract = "osmo1f2m24wktq0sw3c0lexlg7fv4kngwyttvzws3a3r3al9ld2s2pvds87jqvf"
[protocols.osmosis-mars.assets.dATOM]
multiplier = 1
denom = "ibc/27394FB092D2ECCD56123C74F36E4C1F926001CEADA9CA97EA622B25F41E5EB2"

[protocols.osmosis-mars.frontend_data]
chain_name = "osmosis"
link = "https://app.marsprotocol.io"
link_text = "Go to Mars"
[protocols.osmosis-mars.assets.dATOM.frontend_data]
multiplier = 1
visible = true
strategy = "dATOM"
description = "Lending dATOM on Mars"
type = "lend-or-leverage"
featured = true
status = true

[protocols.kujira]
source = "kujira"
rpc = "https://kujira-rpc.publicnode.com:443/"
jitter = 10000
limit = 10000
[protocols.kujira.assets.dATOM]
multiplier = 1
denom = "ibc/FE98AAD68F02F03565E9FA39A5E627946699B2B07115889ED812D8BA639576A9"

[protocols.kujira.frontend_data]
chain_name = "kujira"
link = "https://kujira.network"
link_text = "Go to Kujira"
[protocols.kujira.assets.dATOM.frontend_data]
multiplier = 1
visible = true
strategy = "dATOM"
description = "Holding dATOM on Kujira"
type = "single-sided"
featured = false
status = true

[protocols.osmosis]
source = "osmosis"
chain_id = "osmosis-1"
chain_name = "osmosis"
rpc = "https://rpc.osmosis.zone"
jitter = 10000
pagination_limit = 10000
graphql_url = "http://localhost:3001"
[protocols.osmosis.assets.dATOM]
multiplier = 1
denom = "ibc/0FC38457AF15A8BD1962BB97DDF1AB5EF4C74C5BFDAEF00289A9C405CBD609B0"

[protocols.osmosis.frontend_data]
link = "https://osmosis.zone"
link_text = "Go to Osmosis"
chain_name = "osmosis"
[protocols.osmosis.assets.dATOM.frontend_data]
multiplier = 1
visible = true
strategy = "dATOM"
description = "Holding dATOM on Osmosis"
type = "single-sided"
featured = false
status = true

[protocols.secret]
source = "secret"
chain_id = "secret-4"
chain_name = "secret"
rpc = "https://scrt.public-rpc.com"
jitter = 10000
pagination_limit = 10000
graphql_url = "http://localhost:3001"
[protocols.secret.assets.dATOM]
multiplier = 1
denom = "ibc/4F8BBC6C7C8E18B4BA9F4FF27918CD54B42F95D1B69EBFA73FB075C46BD2D0E9"

[protocols.secret.frontend_data]
link = "https://scrt.network"
link_text = "Go to Secret"
chain_name = "secret"
[protocols.secret.assets.dATOM.frontend_data]
multiplier = 1
visible = true
strategy = "dATOM"
description = "Holding dATOM on Secret"
type = "single-sided"
featured = false
status=true

[protocols.neutron-astroport]
rpc = "https://rpc-kralum.neutron-1.neutron.org:443/"
source = "astroport"
jitter = 10000
concurrency_limit = 6
pagination_limit = 30
[protocols.neutron-astroport.assets.dATOM]
multiplier = 1
denom = "ibc/C4CFF46FD6DE35CA4CF4CE031E643C8FDC9BA4B99AE598E9B0ED98FE3A2319F9"
pair_contract = "neutron15d0se9nw9stqx9ms9ey85gfpraqwl80t5urmjfk2jwtqxpxk3x3qctjt4n"

[protocols.neutron-astroport.frontend_data]
chain_name = "neutron"
link = "https://astroport.fi"
link_text = "Go to Astroport"
[protocols.neutron-astroport.assets.dATOM.frontend_data]
multiplier = 1
visible = true
strategy = "dATOM/ATOM"
description = "LP on Astroport"
type = "correlated"
featured = true
status = true

[protocols.neutron-astroport-generator]
rpc = "https://rpc-kralum.neutron-1.neutron.org:443/"
source = "generator"
jitter = 10000
pagination_limit = 50
generator_contract = "neutron173fd8wpfzyqnfnpwq2zhtgdstujrjz2wkprkjfr6gqg4gknctjyq6m3tch"
[protocols.neutron-astroport-generator.assets.dATOM]
multiplier = 1
denom = "ibc/C4CFF46FD6DE35CA4CF4CE031E643C8FDC9BA4B99AE598E9B0ED98FE3A2319F9"
pair_contract = "neutron15d0se9nw9stqx9ms9ey85gfpraqwl80t5urmjfk2jwtqxpxk3x3qctjt4n"

[protocols.neutron-astroport-generator.frontend_data]
chain_name = "neutron"
link = "https://astroport.fi"
link_text = "Go to Astroport"
[protocols.neutron-astroport-generator.assets.dATOM.frontend_data]
multiplier = 1
visible = true
strategy = "dATOM/ATOM"
description = "LP on Astroport Generator"
type = "correlated"
featured = true
status = true

[protocols.neutron-apollo]
rpc = "https://rpc-kralum.neutron-1.neutron.org:443/"
source = "apollo"
jitter = 10000
pagination_limit = 10000
[protocols.neutron-apollo.assets.dATOM]
multiplier = 1
denom = "ibc/B559A80D62249C8AA07A380E2A2BEA6E5CA9A6F079C912C3A9E9B494105E4F81"
vault_contract = "neutron14xx9hcw0cyw2vtxh586h5usymfyk06jnj677awhntrkxtm72amrsmj5fxt"

[protocols.neutron-apollo.frontend_data]
chain_name = "neutron"
link = "https://apollo.farm"
link_text = "Go to Apollo"
[protocols.neutron-apollo.assets.dATOM.frontend_data]
multiplier = 1
visible = true
strategy = "dATOM/ATOM"
description = "LP Vault on Apollo"
type = "autocompound"
featured = true
status = true


[protocols.osmosis-lp]
source = "osmosis-lp"
rpc = "https://osmosis-rpc.polkachu.com:443/"
graphql_url = "http://127.0.0.1:3001"
jitter = 10000
pagination_limit = 10
concurrency_limit = 10
[protocols.osmosis-lp.assets.dATOM]
multiplier = 1
pool_id = "1464"
denom = "uosmo"

[protocols.osmosis-lp.frontend_data]
link = "https://app.osmosis.zone/pools"
link_text = "Go to Osmosis LP"
chain_name = "osmosis"
[protocols.osmosis-lp.assets.dATOM.frontend_data]
multiplier = 1
visible = true
strategy = "dATOM/ATOM"
description = "LP on Osmosis"
type = "correlated"
featured = false
status = true

# [protocols.neutron-levana]
# rpc = "https://rpc-kralum.neutron-1.neutron.org:443/"
# source = "mars"
# [protocols.neutron-levana.assets.dATOM]
# neutron1an8ls6d57c4qcvjq0jmm27jtrpk65twewfjqzdn7annefv7gadqsjs7uc3


[protocols.nolus]
source = "nolus"
rpc = "https://nolus-rpc.polkachu.com:443"
jitter = 1
concurrency_limit = 3
pagination_limit = 100
[protocols.nolus.assets.dATOM]
leasers = ['nolus1dca9sf0knq3qfg55mv2sn03rdw6gukkc4n764x5pvdgrgnpf9mzsfkcjp6']
multiplier = 5
ticker = "ST_ATOM"
[protocols.nolus.assets.dATOM.frontend_data]
multiplier = 3
visible = true
strategy = "dATOM"
description = "Lease dATOM on Nolus"
type = "lend-or-leverage"
featured = false
status = true

[protocols.demex]
source = "demex"
rpc = "https://tm-api.carbon.network"
insights_api = "https://api-insights.carbon.network"
jitter = 1
concurrency_limit = 5
pagination_limit = 100
[protocols.demex.assets.dATOM]
multiplier = 3
denom = "ibc/EF37C83E78BD1F9B2401B3B3E5C00E0DBA71A648E2A8C3018861786F7A5F0105"
[protocols.demex.assets.dATOM.frontend_data]
multiplier = 3
visible = true
strategy = "dATOM"
description = "dATOM provided as collateral in Demex / Nitron"
type = "lend-or-leverage"
featured = false
status = true

[protocols.pryzm]
source = "pryzm"
rpc = "https://rpc.pryzm.zone:443/"
jitter = 10
pagination_limit = 99999
[protocols.pryzm.assets.dATOM]
multiplier = 1
denom = "ibc/EA6E1E8BA2EB9F681C4BD12C8C81A46530A62934F2BD561B120A00F46946CE87"
type = "plain"
[protocols.pryzm.assets.dATOM_YIELD]
multiplier = 5
denom = "lp:22:udatom"
base_denom = "ibc/EA6E1E8BA2EB9F681C4BD12C8C81A46530A62934F2BD561B120A00F46946CE87"
type = "lp"
[protocols.pryzm.assets.dATOM_BOOST]
multiplier = 5
denom = "lp:23:udatomypt-uatom"
base_denom = "lp:22:udatom"
type = "lp"
[protocols.pryzm.assets.dATOM_YD]
multiplier = 1
denom = "y:udatom:*"
type = "masked"
[protocols.pryzm.assets.dATOM_YDSTAKED]
multiplier = 10
denom = "udatom"
type = "staked"


[protocols.neutron-amulet]
rpc = "https://rpc-palvus.pion-1.ntrn.tech:443"
source = "neutron-amulet"
jitter = 10
pagination_limit = 50

[protocols.neutron-amulet.assets.dATOM]
multiplier = 10
denom = "factory/neutron1a5epmyzkd0xp4kt76azydpq5nu0jv3eelqcf9yfhy8g30sz9am2qu4x0l4/udatom"
vault = "neutron1nyn3l3s2fyl39f2tx4yq0m9nkjcmv80vcqf7g3fa23dpe3v5kcds7l8sfy"
hub = "neutron1dnus6warzk3duxq7l9tjrtcx9zksyv2sgl53cdqerh3acza5778qzqcyd7"

[on_chain_storage]
batch_size = 5000
rpc = "https://rpc-falcron.pion-1.ntrn.tech:443"
contract = "neutron1zrfx2nqmwds8m0fcpu4uxm2vlec7gd08arha88d6fzyme4fzypjqys6j2z"
sender = "neutron1vf9arx6me4d3g0rhvxshj4apvlxyf3s6v56f0g"
mnemonic = ""
gas = "0.025untrn"
gas_adjustment = 1.4

[pricefeed]
jitter = 10000 # must equal to the jitter of neutron
# rpc = "https://rpc-kralum.neutron-1.neutron.org:443/"
rpc = "https://rpc-palvus.pion-1.ntrn.tech:443"
# contract = "neutron1m2emc93m9gpwgsrsf2vylv9xvgqh654630v7dfrhrkmr5slly53spg85wv" #mainnet
contract = "neutron15ldst8t80982akgr8w8ekcytejzkmfpgdkeq4xgtge48qs7435jqp87u3t" #testnet
[pricefeed.assets.dATOM]
pyth_id = "b00b60f88b03a6a625a8d1c048c3f66653edf217439983d037e7222c4e612819"
core_contract = "neutron1r8t7mc62gtlqqe9zfur0g73ppfgulqqhlzh82r9uggca5hq2336qmv2xj0"
[pricefeed.assets.dTIA]
pyth_id = "09f7c1d7dfbb7df2b8fe3d3d87ee94a2259d212da4f30c1f0540d066dfa44723"
core_contract = "neutron1r8t7mc62gtlqqe9zfur0g73ppfgulqqhlzh82r9uggca5hq2336qmv2xj0"
